.button {
  --button-color: var(--color);
  --button-background-color: var(--control-background-color);
  --button-border-color: var(--border-color);
  --button-border-width: var(--control-border-width);
  --button-border-radius: var(--control-border-radius);
  --button-padding-x: calc(2em - var(--control-border-width));
  --button-padding-y: calc(0.5em - var(--button-border-width));
  --button-font-family: var(--font-family);
  --button-font-weight: var(--control-font-weight);

  background-color: var(--button-background-color);
  border-color: var(--button-border-color);
  border-width: var(--button-border-width);
  border-radius: var(--button-border-radius);
  color: var(--button-color);
  cursor: pointer;
  font-family: var(--button-font-family);
  font-weight: var(--button-font-weight);
  justify-content: center;
  padding-bottom: var(--button-padding-y);
  padding-left: var(--button-padding-x);
  padding-right: var(--button-padding-x);
  padding-top: var(--button-padding-y);
  text-align: center;
  white-space: nowrap;
}

.button.is-full-width {
  display: flex;
  width: 100%;
}

/* Primary button */

.button.is-primary {
  --button-background-color: hsl(var(--color-primary), 53%);
  --button-border-color: hsl(var(--color-primary), 53%);
  --button-color: hsl(var(--color-primary), 53%);
}

.button.is-primary:hover,
.button.is-primary.is-hover {
  --button-background-color: hsl(var(--color-primary), 48%);
}

.button.is-primary:active,
.button.is-primary.is-active {
  --button-background-color: hsl(var(--color-primary), 43%);
}

/* Success button */

.button.is-success {
  --button-background-color: hsl(var(--color-success), 53%);
  --button-border-color: hsl(var(--color-success), 53%);
  --button-color: hsl(var(--color-success), 53%);
}

.button.is-success:hover,
.button.is-success.is-hover {
  --button-background-color: hsl(var(--color-success), 48%);
}

.button.is-success:active,
.button.is-success.is-active {
  --button-background-color: hsl(var(--color-success), 43%);
}

.button.is-warning {
  --button-background-color: var(--color-warning);
  --button-border-color: var(--color-warning);
  /* Warning color is too light for white text */
  --button-color: var(--color-warning-text) !important;
}

.button.is-danger {
  --button-background-color: var(--color-danger);
  --button-border-color: var(--color-danger);
  --button-color: var(--color-danger);
}

.button.is-rounded {
  --button-border-radius: var(--border-radius-rounded);
}

.button.is-filled {
  --button-color: var(--color-white);
}

.button.is-outlined,
.button.is-outlined:hover,
.button.is-outlined.is-hovered {
  --button-background-color: var(--color-white);
}
