.button {
  --button-color: var(--control-color);
  --button-background-color: var(--control-background-color);
  --button-border-color: var(--border-color);
  --button-border-width: var(--control-border-width);
  --button-border-radius: var(--control-border-radius);
  --button-padding-x: calc(2em - var(--control-border-width));
  --button-padding-y: calc(0.5em - var(--button-border-width));
  --button-font-family: var(--font-family);
  --button-font-weight: var(--control-font-weight);

  background-color: var(--button-background-color);
  border-color: var(--button-border-color);
  border-width: var(--button-border-width);
  border-radius: var(--button-border-radius);
  color: var(--button-color);
  cursor: pointer;
  font-family: var(--button-font-family);
  font-weight: var(--button-font-weight);
  justify-content: center;
  padding-bottom: var(--button-padding-y);
  padding-left: var(--button-padding-x);
  padding-right: var(--button-padding-x);
  padding-top: var(--button-padding-y);
  text-align: center;
  white-space: nowrap;
}

/*
.button:hover,
.button.is-hovered {
  --button-background-color: var(--control-background-color-hovered);
}
*/

/* Primary button */

.button.is-primary {
  --button-background-color: hsl(var(--color-primary), 53%);
  --button-border-color: hsl(var(--color-primary), 53%);
  --button-color: hsl(var(--color-primary), 53%);
}

.button.is-primary:hover,
.button.is-primary.is-hovered {
  --button-background-color: hsl(var(--color-primary), 48%);
  --button-border-color: hsl(var(--color-primary), 48%);
}

.button.is-primary:active,
.button.is-primary.is-active {
  --button-background-color: hsl(var(--color-primary), 43%);
  --button-border-color: hsl(var(--color-primary), 43%);
}

.button.is-outlined:hover,
.button.is-outlined.is-hovered {
  --button-background-color: hsl(var(--color-primary), 97%);
}

.button.is-outlined:active,
.button.is-outlined.is-active {
  --button-background-color: hsl(var(--color-primary), 95%);
}

/* Success button */

.button.is-success {
  --button-background-color: hsl(var(--color-success), 53%);
  --button-border-color: hsl(var(--color-success), 53%);
  --button-color: hsl(var(--color-success), 53%);
}

.button.is-success:hover,
.button.is-success.is-hovered {
  --button-background-color: hsl(var(--color-success), 48%);
  --button-border-color: hsl(var(--color-success), 48%);
}

.button.is-success:active,
.button.is-success.is-active {
  --button-background-color: hsl(var(--color-success), 43%);
  --button-border-color: hsl(var(--color-success), 43%);
}

.button.is-success.is-outlined:hover,
.button.is-success.is-outlined.is-hovered {
  --button-background-color: hsl(var(--color-success), 96%);
}

.button.is-success.is-outlined:active,
.button.is-success.is-outlined.is-active {
  --button-background-color: hsl(var(--color-success), 94%);
}

/* Warning button */

.button.is-warning {
  --button-background-color: hsl(var(--color-warning), 67%);
  --button-border-color: hsl(var(--color-warning), 67%);
  /* Warning color is too light for white text */
  --button-color: hsl(var(--color-warning), 35%) !important;
}

.button.is-warning:hover,
.button.is-warning.is-hovered {
  --button-background-color: hsl(var(--color-warning), 60%);
  --button-border-color: hsl(var(--color-warning), 60%);
}

.button.is-warning:active,
.button.is-warning.is-active {
  --button-background-color: hsl(var(--color-warning), 55%);
  --button-border-color: hsl(var(--color-warning), 55%);
}

.button.is-warning.is-outlined:hover,
.button.is-warning.is-outlined.is-hovered {
  --button-background-color: hsl(var(--color-warning), 96%);
}

.button.is-warning.is-outlined:active,
.button.is-warning.is-outlined.is-active {
  --button-background-color: hsl(var(--color-warning), 93%);
}

/* Danger button */

.button.is-danger {
  --button-background-color: hsl(var(--color-danger), 61%);
  --button-border-color: hsl(var(--color-danger), 61%);
  --button-color: hsl(var(--color-danger), 61%);
}

.button.is-danger:hover,
.button.is-danger.is-hovered {
  --button-background-color: hsl(var(--color-danger), 56%);
  --button-border-color: hsl(var(--color-danger), 56%);
}

.button.is-danger:active,
.button.is-danger.is-active {
  --button-background-color: hsl(var(--color-danger), 51%);
  --button-border-color: hsl(var(--color-danger), 51%);
}

.button.is-danger.is-outlined:hover,
.button.is-danger.is-outlined.is-hovered {
  --button-background-color: hsl(var(--color-danger), 97%);
}

.button.is-danger.is-outlined:active,
.button.is-danger.is-outlined.is-active {
  --button-background-color: hsl(var(--color-danger), 95%);
}

/* Other buttons */

.button.is-full-width {
  display: flex;
  width: 100%;
}

.button.is-rounded {
  --button-border-radius: var(--border-radius-rounded);
}

.button.is-filled {
  --button-color: hsl(var(--color-white), 100%);
}

.button.is-outlined {
  --button-background-color: hsl(var(--color-white), 100%);
}
